---
layout: compress
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.ico" />


    <title>Tom Wiesing - tkw01536.de</title>

    <style>
        em {
            font-weight: bold;
            font-style: normal;
        }

        img {
            padding: 5px;
            float: left;
        }

        #header a.btn {
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .card a {
            color: #039be5 !important;
        }

        .card a:hover {
            color: blue !important;
        }
    </style>
</head>

<body>
    <div class="container">
        {{ content }}
    </div>
</body>

</html>